table {
  border-collapse: collapse;
  width: 100%;

  th,
  tr {
    border: 1px solid #ccc;
  }

  th,
  td {
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f0f0f0;
  }
}
.wrapper-input {
  margin-top: 25px;
  margin-bottom: 25px;
}
